@import "../App.scss";

.navbar-top {
    height: 38px;
    border-top: 1px solid $clr-dark;
}

.navbar-main {
    padding-top: 28px;

    &-top {
        .navbar-brand {
            span {
                @media screen and (max-width: 992px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 768px) {
                    font-size: 20px;
                }
            }

        }

        .basket-btn {
            position: relative;

            .basket-count {
                position: absolute;
                top: -5px;
                right: -8px;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background-color: $clr-white;
                color: $clr-black;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .navbar-basket {
            .basket-count {
                margin-left: 22px;
            }

            .basket-count-value {
                margin-left: 8px;
            }
        }
    }

    &-bottom {
        margin-top: 20px;
        border-top: 2px dashed rgba(255, 255, 255, 0.2);

        .navbar-cats-btn {
            margin-right: 20px;
        }

        .navbar-nav {
            .nav-item {
                margin-left: 16px;
                position: relative;

                .nav-link {
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 13px;
                    color: $clr-white;
                    letter-spacing: 0.5px;

                    &:hover {
                        color: $clr-yellow;
                    }
                }

                &-active {
                    .nav-link {
                        color: $clr-yellow;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: calc(100% + 4px);
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background-color: $clr-yellow;
                    }
                }
            }

            @media screen and (max-width: 992px) {
                display: none;
            }
        }
    }
}